<span style="font-size: 2rem; line-height: 1.25;"><oj-bind-text value="[[i18nutils.translate('masterdetail.header')]]"></oj-bind-text></span>
<hr>
<oj-tab-bar edge="top" selection="{{ currentTab }}" class="oj-sm-condense">
    <ul>
        <oj-bind-for-each data="[[mdTabs]]">
            <template>
                <li :id="[[$current.data.id]]">
                    <span><oj-bind-text value="[[$current.data.label]]"></oj-bind-text></span>
                </li>
            </template>
        </oj-bind-for-each>
    </ul>
</oj-tab-bar>
<div style="margin: 10px auto;">
    <oj-module config='[[currentModule]]'></oj-module>
</div>